.header {
  max-width: 880px;
  margin: auto;
  padding-top: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    width: 282px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    width: 768px;
  }
}
