.modal {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}

.modal__open {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.modal__image_container {
  display: flex;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  position: relative;
}

.modal__preview-image {
  max-width: 100%;
  object-fit: cover;
}

.modal__image-description {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.modal__container {
  position: fixed;
  width: 430px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 195px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: block;
}

.modal__title {
  width: 330px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-left: 36px;
  padding-top: 34px;
  margin: 0;
}

.modal__input {
  width: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
  margin: auto;
}

.modal__button {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
  margin: auto;
  margin-top: 48px;
}

.modal__button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  border: none;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__input-name {
  width: 358px;
  height: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  align-self: center;
  border-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__input-description {
  width: 358px;
  height: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  align-self: center;
  border-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__label-name {
  width: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  margin-top: 50px;
}

.modal__label-description {
  width: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  margin-top: 29px;
}

.modal__button-exit {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transform: rotate(-45deg);
  position: absolute;
  top: -35px;
  right: -35px;
  display: block;
}

.modal__button-exit:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.modal__close-button-image {
  width: 40px;
  height: 40px;
}

::placeholder {
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__container {
    width: 282px;
    height: 322px;
    top: 123px;
  }

  .modal__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-top: 25px;
    padding-left: 22px;
  }

  .modal__input-name {
    width: 238px;
  }

  .modal__label-name {
    width: 238px;
  }

  .modal__button {
    width: 238px;
  }

  .modal__label-description {
    width: 238px;
  }
  .modal__input-description {
    width: 238px;
  }

  .modal__button-exit {
    width: 26px;
    height: 26px;
    top: -35px;
    right: 0;
  }

  .modal__close-button-image {
    width: 26px;
    height: 26px;
  }
}
