.profile {
  display: grid;
  grid-template-columns: 15% 68% 17%;
  max-width: 880px;
  align-items: center;
  margin: auto;
  padding-top: 40px;
  width: 100%;
}

.profile__title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 0;
  margin-top: 22px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__title-bar {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__title-discription {
  color: #fff;
  width: 440px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 21px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__image {
  width: 127px;
  height: 127px;
  border-radius: 50%;
}

.profile__button {
  background-color: transparent;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  padding: 0;
  border-radius: 2px;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s;
}

.profile__button-symbol {
  width: 22px;
  height: 22px;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 0;
  margin-top: 37px;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s;
}

.profile__button-image {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    width: 282px;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
  }

  .profile__image {
    margin: 0 auto 0;
  }

  .profile__title {
    width: auto;
    font-size: 22px;
    line-height: 27px;
    margin: 0 auto 0;
    padding-top: 26px;
    padding-bottom: 0;
  }

  .profile__title-bar {
    grid-template-columns: 92% 8%;
  }

  .profile__title-discription {
    width: 196px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
  .profile__button {
    width: 100%;
  }
  .profile__button-edit {
    width: 18px;
    height: 18px;
    justify-content: center;
    margin-top: 30px;
  }

  .profile__button-image {
    height: 7px;
    width: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    width: 767px;
    justify-content: center;
    grid-template-columns: 20% 60% 20%;
  }
  .profile__title-bar {
    grid-template-columns: 94% 6%;
    width: 410px;
  }

  .profile__title {
    margin-left: 0;
  }

  .profile__title-discription {
    margin-left: 0;
  }
}
