@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(../fonts/Inter-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(../fonts/Inter-black.otf) format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url(../fonts/Inter-Medium.otf) format("opentype");
}
